<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="site-footer__inner">
        <div class="site-footer__content">
          <div class="site-footer__brand">
            <div class="site-footer__logo">오늘도, 펭긋</div>
            <div class="site-footer__links">
              <a href="#" class="site-footer__link"
                ><img src="/asset/img/icon/star.svg" alt=""
              /></a>
              <a href="#" class="site-footer__link"
                ><img src="/asset/img/icon/instagram-logo.svg" alt=""
              /></a>
              <a href="#" class="site-footer__link">
                <img src="/asset/img/icon/mail.svg" alt="메일" />
              </a>
            </div>
          </div>

          <div class="site-footer__info">
            <div class="site-footer__info-inner">
              <a href="#" class="site-footer__policy">개인정보처리방침</a>
              <span class="ver-line"></span>
              <a href="#" class="site-footer__policy">이용약관</a>
              <span class="ver-line"></span>

              <a href="#" class="site-footer__policy">결제정보</a>
            </div>
            <div class="site-footer__company">
              상호 : 오늘도, 펭긋 <br />
              대표자 : 김희준 <br />
              사업자 등록번호 : 000-000-000 <br />
              소재지 : 경기도 수원시
            </div>
          </div>

          <div class="site-footer__cs">
            <div class="site-footer__title">고객센터</div>
            <div class="site-footer__contact">
              1000-1000 <br />
              9AM - 6PM
            </div>
          </div>
        </div>

        <div class="site-footer__copyright">
          Copyright © 오늘도, 펭긋. All Rights Reserved. Hosting by Cafe24 Corp.
        </div>
      </div>
    </footer>
  </body>
</html>
