<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>헤더네비</title>
  </head>
  <body>
    <header class="pg-header">
      <div class="pg-inner">
        <nav class="pg-gnb" aria-label="주요 메뉴">
          <h1 class="pg-logo">
            <a href="#">
              <img src="/asset/img/logo/today-pen.svg" alt="오늘도, 펭긋" />
            </a>
          </h1>

          <ul class="pg-nav-list">
            <li class="pg-nav-item">
              <a href="#story" class="pg-nav-link">Story</a>
            </li>
            <li class="pg-nav-item">
              <a href="#shop" class="pg-nav-link">Shop</a>
            </li>
            <li class="pg-nav-item">
              <a href="#contact" class="pg-nav-link">Contact</a>
            </li>
            <li class="pg-nav-item">
              <a href="#login" class="pg-nav-link">Login</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
