<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>헤더네비</title>
  </head>
  <body>
    <header class="pg-header" data-ez-layout="layout1" data-ez="contents-1jqcdrr-1">
      <div class="pg-inner">
        <nav class="pg-gnb" aria-label="주요 메뉴">
          <h1 class="pg-logo" module="Layout_LogoTop">
            <a href="/">
              <img src="/asset/img/logo/today-pen.svg" alt="오늘도, 펭긋" />
            </a>
          </h1>

          <ul class="pg-nav-list" data-ez-module="menu-main/1" data-ez-mode="manual">
            <li class="pg-nav-item">
              <a href="#story" class="pg-nav-link">Story</a>
            </li>
            <li>
              <a href="/category/Store/62/">Store</a>
              <ul class="sub_cate01">
                <li>
                  <a href="/category/%EC%84%B8%ED%8A%B8-%EC%95%84%EC%9D%B4%ED%85%9C/63/">세트 아이템</a>
                </li>
                <li>
                  <a href="/category/%EB%8D%B0%EC%8A%A4%ED%81%AC%ED%85%8C%EB%A6%AC%EC%96%B4-%EC%86%8C%ED%92%88/68/">데스크테리어 소품</a>
                </li>
                <li>
                  <a href="/category/%EB%A7%88%EC%9A%B0%EC%8A%A4%ED%8C%A8%EB%93%9C/64/">마우스패드</a>
                </li>
                <li>
                  <a href="/category/%EB%8D%B0%EC%8A%A4%ED%81%AC%EB%A7%A4%ED%8A%B8/65/">데스크매트</a>
                </li>
                <li>
                  <a href="https://penguinkkim.cafe24.com/product/list.html?cate_no=73">피규어</a>
                </li>
              </ul>
            </li>
            <li class="pg-nav-item">
              <a href="#contact" class="pg-nav-link">Contact</a>
            </li>
            <li class="pg-nav-item">
              <a href="#login" class="pg-nav-link">Login</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
