<section class="pg-main-grid-section">
  <div class="pg-grid">
    <div class="pg-grid-item">
      <div class="pg-grid-item-inner">
        <img src="/penguin/asset/img/imgs/talk-buble.svg" alt="" class="pg-talk-buble" />
        <span class="pg-grid-item-text"> 안녕하세요 저는 펭긴입니다 </span>
      </div>
    </div>

    <div class="pg-grid-item pg-grid-main"><img src="/penguin/asset/img/imgs/talk-penguin.png" alt="" class="pg-img" /></div>

    <div class="pg-grid-item">
      <div class="pg-grid-item-inner">
        <img src="/penguin/asset/img/imgs/talk-buble.svg" alt="" class="pg-talk-buble" />
        <span class="pg-grid-item-text"> 산책하면서 <br />작은 새를 바라보는것을 좋아하고 </span>
      </div>
    </div>

    <div class="pg-grid-item">
      <div class="pg-grid-item-inner">
        <img src="/penguin/asset/img/imgs/talk-buble.svg" alt="" class="pg-talk-buble" />
        <span class="pg-grid-item-text"
          >집에서 뒹굴거리는걸 <br />
          좋아해요.</span
        >
      </div>
    </div>

    <div class="pg-grid-item pg-grid-empty">5</div>

    <div class="pg-grid-item">
      <div class="pg-grid-item-inner">
        <img src="/penguin/asset/img/imgs/talk-buble.svg" alt="" class="pg-talk-buble" />
        <span class="pg-grid-item-text"> 비가오나 눈이오나 <br />모든날씨를 좋아해요</span>
      </div>
    </div>
  </div>
</section>
